.row {
  display: flex;
  justify-content: space-between;

  .file-input {
    display: none;
  }

  app-input-box {
    flex: 1;
    padding-right: 2.5em;
  }

  .upload-button {
    position: relative;
    top: 2em;
  }

}
