@import "./src/app/theme/brand-colors";

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;

  .file-input {
    display: none;
  }

  app-input-box {
    flex: 1;
    padding-right: 2.5em;
  }

  .select-file-button {
    position: relative;
    top: 2em;
  }

  .upload-button {
    position: relative;
    top: 2em;
  }

  h3 {
    color: $kl-green;
  }

}
