@import "./../../theme/brand-colors";

button {
  cursor: pointer;
  height: 50px;
  min-width: 100px;
  padding-right: 15px;
  padding-left: 15px;
  font-size: 16px;
  color: white;
  background-color: $kl-green;
  border-radius: 6px;
  border: 0;
  transition: all .3s ease-in-out;
}

button:hover {
  filter: brightness(115%);
}
