@import "./src/app/theme/brand-colors";

table {
  border: 1px solid $kl-grey;
  border-radius: 6px;
  padding: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.success {
  border: 2px solid $kl-green;
}
