@import "./src/app/theme/brand-colors";

body {
  margin : 0;
}

table {
  width: 100%;

  th {
    text-align: start;
  }
}

.form-control {
  font-size: 16px;
  width: 100%;
  height: 50px;
  padding: 0;
  padding-left: 10px;
  border: 1px solid $kl-border-color;
  border-radius: 3px;

  &:focus-visible {
    outline-color: $kl-green;
  }
}

.content-body-header {
  font-weight: normal;
  margin-top: 10px;
  padding-bottom: 15px;
}
